/*
Design by TemplateAccess.com
Released for free under a Creative Commons Attribution 3.0 License
*/

@charset "utf-8";
body { margin:0; padding:0; width:100%; background: url(images/main_bg.jpg) top center; }
html { padding:0; margin:0; }
li.bg,
.bg { clear:both; border-bottom:1px dashed #818181; padding:0; margin:10px 0; background:none; list-style:none; }
p.clr,
.clr { clear:both; padding:0; margin:0; }
.main { margin:0 auto; padding:0; }
/* header */
.header_resize { margin:0 auto; padding:0; width:970px; }
.header { margin:0; padding:0; }
/* logo */
.logo { width:450px; margin:0 auto; padding:0; float:left; }
h1 { margin:0; padding:24px 0 24px 40px; color:#fff; font:normal 46px/1.2em Arial, Helvetica, sans-serif;}
h1 a, h1 a:hover { color:#fff; text-decoration:none;}
h1 span { font-weight:bold; color:#d7b37d;}
h1 small { display:block; padding:4px 0; font:normal 14px/1.2em Arial, Helvetica, sans-serif;}
/*menu*/
.menu { padding:55px 0 0 0; margin:0; width:410px; float:right; }
.menu ul { padding:0; margin:0; list-style:none; border:0; float:right; }
.menu ul li { float:left; margin:0; padding:0 5px; border:0; }
.menu ul li a { float:left; margin:0; padding:10px 6px; color:#fff; font:normal 14px Arial, Helvetica, sans-serif; text-decoration:none; }
.menu ul li a:hover { color:#000; background: url(images/hover.gif); border:1px solid #796e64; padding:9px 5px;}
.menu ul li a.active { color:#000; background: url(images/hover.gif); border:1px solid #796e64; padding:9px 5px;}
/* headert_text_resize */
.headert_text_resize { width:970px; padding:0; margin:0 auto; background:url(images/header_text_bg.jpg) top no-repeat; height:291px; }
.headert_text_resize .textarea { width:528px; margin:0; padding:20px 30px 0 80px; float:right; }
.headert_text_resize .textarea h2 { font: normal 30px Arial, Helvetica, sans-serif; color:#404a52; padding:10px 0; margin:0; }
.headert_text_resize .textarea p { font: normal 12px Arial, Helvetica, sans-serif; color:#404a52; padding:10px 0; margin:0; line-height:1.6em; }
.headert_text_resize .textarea p a { font: normal 12px Arial, Helvetica, sans-serif; color:#404a52; padding:10px 0; margin:0; line-height:1.6em; }
.headert_text_resize .textarea img { float:left; margin:10px 0; padding:0; }
/*body*/
.body_resize { margin:0 auto; padding:0 20px; width:930px; background:url(images/body_bg.gif) top repeat-y; }
.body { margin:0; padding:0; }
.body h2 { font: normal 30px Arial, Helvetica, sans-serif; color:#464646; padding:10px 5px; margin:5px 0 10px 0; }
.body h3 { font: normal 30px Arial, Helvetica, sans-serif; color:#464646; padding:3px 0 3px 35px; margin:5px 0 10px 0; background:url(images/h2_bg.gif) left no-repeat; }
.body h3 span { color:#ffa800; }
.body p { font: normal 12px Arial, Helvetica, sans-serif; color:#464646; padding:5px; margin:0; line-height:1.8em; }
.body p span { font: bold 14px Arial, Helvetica, sans-serif; color:#4b4b4b; padding:0; margin:0; }
.body img { float:left; margin:5px; padding:0; }
.body img.floated { float:right; margin:5px 10px 5px 0; padding:0; }
.body a { color:#72b407; text-decoration:underline; }
.left { float:left; width:640px; margin:0; padding:0; }
.right { float:right; width:245px; margin:0; padding:0; }
.right ul { list-style:none; margin:5px 10px; padding:0; }
.right li { background:#f9f9f9 url(images/ul_li.gif) 10px 10px no-repeat; font: normal 14px Arial, Helvetica, sans-serif; color:#464646; border:1px solid #eeeeee; padding:5px 0; margin:3px 0; }
.right li a { padding:0 0 0 25px; margin:0; font: normal 14px Arial, Helvetica, sans-serif; color:#464646; text-decoration:none; }
.right li a:hover { color:#72b407; text-decoration:none; }
.right ul.sponsors { list-style:none; margin:5px 10px; padding:0; }
.right li.sponsors { background:none; font: normal 11px Arial, Helvetica, sans-serif; color:#999999; border-bottom:1px dashed #6d6d6d; padding:5px 0; }
.right li.sponsors a { background:none; font: normal 12px Arial, Helvetica, sans-serif; color:#404a52; padding:5px 0; }

/* search */
.search { padding:13px 0 0 0; margin:0 auto; }
.search form { float:right; padding:0 0 32px 0; margin:0; }
.search span { display:block; float:left; background:#fff; border:1px solid #d1d2d1; width:195px; padding:2px 5px; height:31px; }
.search form .keywords { line-height:14px; height:14px; float:left; background:none; border:0; padding:6px 2px; margin:0; font:bold 12px Arial, Helvetica, sans-serif; color:#464646; }
.search form .button { float:left; margin:0; padding:0; }
/* FBG */
.FBG_resize { margin:0 auto; padding:0; width:970px; background:#a48a63; }
.FBG { background:  url(images/fbg_bg.gif); margin:0; padding:0; }
.FBG img { float:left; margin:5px 10px 5px 0; padding:0; }
.FBG h2 { color:#fff; font: normal 30px Arial, Helvetica, sans-serif; padding:3px 0; margin:5px 0 15px 0; }
.FBG p { color:#fff; font: normal 12px Arial, Helvetica, sans-serif; padding:5px 0; margin:0; line-height:1.8em; }
.FBG a { color:#fff; text-decoration:none; font: bold 12px Arial, Helvetica, sans-serif; }
.FBG ul { list-style:none; width:130px; float:left; padding:0; margin:10px 5px; }
.FBG li { padding:2px 1px; margin:0; }
.FBG li a { color:#fff; font: normal 12px Arial, Helvetica, sans-serif; text-decoration: underline; }
.FBG li a:hover { color:#fff; text-decoration:none; }
.FBG .blok { width:280px; float:left; padding:10px 20px; margin:0; }
/* footer */
.footer_resize { margin:0 auto; padding:25px 0; width:970px; }
.footer { border-top:1px solid #fff; padding:0; margin:10px auto 0 auto; background: url(images/hover.gif); }
.footer p { color:#000; font: normal 12px Arial, Helvetica, sans-serif; padding:0 0 0 5px; margin:0; line-height:1.8em; }
.footer p.right { float:right; }
.footer p a { color:#000; font: normal 12px Arial, Helvetica, sans-serif; }
/********** contact form **********/
#contactform { margin:0; padding:5px 10px; }
#contactform * { color:#F00; }
#contactform ol { margin:0; padding:0; list-style:none; }
#contactform li { margin:0; padding:0; background:none; border:none; display:block; clear:both; }
#contactform li.buttons { margin:5px 0 5px 0; }
#contactform label { margin:0; width:110px; display:block; padding:10px 0; color:#666; font: normal 12px Arial, Helvetica, sans-serif; text-transform:capitalize; float:left; }
#contactform label span { color:#F00; }
#contactform input.text { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:5px 2px; height:16px; background:#fff; float:left; }
#contactform textarea { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:2px; background:#fff; float:left; }
#contactform li.buttons input { border:1px solid #000; background:#ea7d1b; padding:10px; margin:10px 0 0 110px; color:#fff; float:left; font: normal 12px Arial, Helvetica, sans-serif; }
p.response { text-align:center; color:#F00; font: normal 11px Georgia, "Times New Roman", Times, serif; line-height:1.8em; width:auto; }
